@import './base.scss';

.whole-damn-page {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.form-group {
  label {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  input {
    position: relative;
    top: -2px;
  }
}

.btn {
  font-family: Montserrat, sans-serif;
}

.btn.btn-xs,
.btn-group-xs .btn {
  padding: 0.15rem 0.4rem;
  font-size: 0.75rem;
  border-radius: 3px;
}
